<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />

    <style>
    .center {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    </style>

        
        
    <title>AV Bakery Order Management: User Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
        <h1>Auroville Bakery Order Management</h1>
        <div style="margin-bottom: 40px; padding-top: 20px;">
            <ul class="navbar" style="background-color: #f6ddce;padding-left: 800px;">
              </ul>
            </div>
      </div>
      <div class="center form-group">
        <div style="margin-bottom: 20px; margin-left: auto; margin-right: auto; width: 180px;">
            <h2>User Login</h2>
        </div>
        <form action="/login" method="post">
        <% var credentials = data;%>
        <ul class="form-fields">
            <li>
              <label>Login Id</label>
              <input type="text" name="login_id" id="login_id" value="<%= credentials.loginId %>" />
            </li>
            <li>
                <label>Password</label>
                <input type="text" name="password" id="password" value=""/>
            </li>
              <% if (typeof error  !== 'undefined' && error.length > 0) {  %>
                <span id="saveMessage" style="display: block; margin-top: 10px; height: 40px" class="error"><%= error %></span>
              <% } %>
              <% if (data.authenticationFailed) {  %>
                <span style="display: block; margin-top: 10px; height: 40px" class="error">Please Log In To Access Order Management</span>
              <% } %>
            <button id="loginUserButton" class="customer-button" style="margin-top: 20px"> Log In </button>
          </ul>
          </form>
       </div>
  </body>
    </div>
    </body>
</html>