<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />

    <style>
    .center {
        margin-right: auto;
        width: 400px;
    }
    </style>
                
    <title>AV Bakery Order Management: View/Edit Admin User</title>
  </head>
  <body>
    <div>
      <h1>Auroville Bakery Order Management</h1>
      <%- include("../navbar") %>
    </div>
      <div class="center form-group">
        <div style="margin-bottom: 20px; margin-left: auto; margin-right: auto; width: 200px;">
            <h2>Admin User</h2>
        </div>
        <% var adminUser = data[0];%>
        <input type="hidden" name="adminId" id="adminId" value="<%= adminUser.id %>"/>
        <ul class="form-fields">
            <li>
              <label>Name</label> <%= adminUser.name %>
            </li>           
            <li>
              <label>Login Id</label><%= adminUser.login_id %> </label>
            </li>
            <li>
                <label>Reset Password</label>
            </li>
          </ul>
    </div>
    </body>
    <footer>
      <script src="scripts/jquery.js"></script>
      <script src="scripts/admin.js"></script>
    </footer>  
</html>