<style>
.navbar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: -15px;
  color: #b36653;
}

h4 {
  display: inline-block; 
  font-size: 1.4em; 
  margin-left: 10px;
  font-weight: 600;
  text-transform: none;
}

a {
  color: #b36653;
  display: block;
  padding: 8px;
}
</style>
<div style="margin-bottom: 40px; padding-top: 20px;">
<ul class="navbar" style="background-color: #f6ddce;padding-left: 800px; width: 400px;">
    <li style="float: left;"><h4><a href="/customerSearch">Customer Search</a></h4></li>
    <li style="float: left;"></li>
    <li style="float: left;"><h4><a href="/reportList">Reports</a></h4></li>
  </ul>
</div>