<style>
.navbar {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: -15px;
  color: #b36653;
}

h4 {
  display: inline-block; 
  font-size: 1.4em; 
  margin-left: 10px;
  font-weight: 600;
  text-transform: none;
}

h5 {
  display: inline-block; 
  font-size: .8em; 
  font-weight: 600;
  text-transform: none;
  margin-right: 100px;
}

a {
  color: #b36653;
  display: block;
  padding: 8px;
}
</style>
<div style="margin-bottom: 40px; padding-top: 20px;">
<% var user = request.session.user; %>
<ul class="navbar" style="background-color: #f6ddce;padding-left: 50px; width: 1200px;">
  <li>
    <ul class="navbar">
    <li style="float: left; margin-top: 5px;"><h4><a href="/customerSearch">Customer Search</a></h4></li>
    <li style="float: left;"></li>
    <li style="float: left; margin-top: 5px;"><h4><a href="/reportList">Reports</a></h4></li>
    <li style="float: right; margin-top: -10px;"><h5>Logged In as Admin: <%= user.name %> </h5></li>
  </ul>
  </li>
  <li>
    <ul class="navbar">
      <li style="float: left;"></li>
      <li style="float: left;"></li>
      <li style="float: left;"></li>
      <li style="float: right; margin-top: -15px;"><h5>Log Out</h5></li>
    </ul>
  </li>
</ul>

</div>