<style>
.navbar {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: -15px;
  color: #b36653;
}

h4 {
  display: inline-block; 
  font-size: 1.4em; 
  margin-left: 10px;
  font-weight: 600;
  text-transform: none;
}

h5 {
  display: inline-block; 
  font-size: .8em; 
  font-weight: 600;
  text-transform: none;
  margin-right: 100px;
}

a {
  color: #b36653;
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #f6ddce;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
<div style="margin-bottom: 40px; padding-top: 20px;">
<% var user = request.session.user; %>
<ul class="navbar" style="background-color: #f6ddce;padding-left: 50px; width: 1200px;">
  <li>
    <ul class="navbar">
    <li style="float: left; margin-top: 10px;"><h4><a href="/customerSearch">Customer Search</a></h4></li>
    <li style="float: left; margin-left: 20px; margin-top: 10px;"><h4><a href="/reportList">Reports</a></h4></li>
    <li style="float: left; margin-left: 30px; margin-top: 10px;" class="dropdown"><h4 class="dropbtn"><a>Manage Products</a></h4>
      <div class="dropdown-content">
        <a href="#" style="font-weight: bold;">View/Edit Products</a>
        <a href="/productCreate" style="font-weight: bold;">Add Product</a>
      </div>
    </li>
    <li style="float: right; margin-top: -10px;"><h5>Logged In as Admin: <%= user.name %> </h5></li>
  </ul>
  </li>
  <li>
    <ul class="navbar">
      <li style="float: left;"></li>
      <li style="float: left;"></li>
      <li style="float: left;"></li>
      <li style="float: right; margin-top: -15px;"><h5><a onclick="javascript:logout()">Log Out</a></h5></li>
    </ul>
  </li>
</ul>
</div>
<script src="scripts/admin.js"></script>