<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <title>AV Bakery: <%=pageTitle%></title>
    <style>
      #customerTable {
        display: flex; /* aligns all child elements (flex items) in a row */
        margin-top: 25px;
        flex-direction: column;
        align-self: center;
        width: 1000px;
        border: 1px solid #894e3f;
      }
      header {
        background-color: #faebd7;
        width: auto;
        display: flex;
        flex-direction: row;
        font-weight: bold;
      }

      .col {
        width: 200px;
        text-align: center;
      }
      .row {
        display: flex;
        flex-direction: row;
      }

      .alert {
        color: #f44336;
      }

      .warning {
        color: rgb(255, 153, 0);
      }

      .success {
        color: green;
      }

      #searchCustomerButton {
        margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <div>
      <h1>Auroville Bakery Order Management</h1>
      <h2>Search Customer</h2>
      <p>Please use the form to search for customer by name or accout number</p>
    </div>
    <input type="text" name="query" id="searchQuery" />
    <input type="radio" class="searchBy" name="searchBy" value="account" checked />
    <label>Account number</label>
    <input type="radio" class="searchBy" name="searchBy" value="name" />
    <label>Name</label><br />
    <span id="requestError" style="display: block; margin-top: 10px" class="alert"></span>
    <span id="responseError" style="display: block; margin-top: 10px" class="warning"></span>
    <span id="responseSuccess" style="display: block; margin-top: 10px" class="success"></span>
    <button id="searchCustomerButton">Search</button>
    <section id="customerTable">
      <header>
        <div class="col">Select</div>
        <div class="col">Name</div>
        <div class="col">Account</div>
        <div class="col">Community</div>
        <div class="col">Phone</div>
        <div class="col">Email</div>
      </header>
    </section>
  </body>

  <script src="scripts/jquery.js"></script>
  <script src="scripts/app.js"></script>
</html>
