<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- set viewport to device width to make site responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="styles/user-profile.css" />
    <title>Auroville Life: <%=pageTitle%></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="navigation" id="top">
      <div class="container">
        <div class="main-nav">
          <div class="brand">
            <a href="/"><img src="images/logo.png" alt="" /></a>
          </div>
          <!--/.brand-->
          <nav>
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="what-is-sfm">What is SFM</a></li>
              <li><a href="how-sfm-works">How SFM Works</a></li>
              <li><a href="about">About Me</a></li>
              <li><a href="meet-me">Meet Me</a></li>
              <li><a href="A-Life-Of-Prosperity-Passion-Family">Video Training</a></li>
            </ul>
          </nav>
          <div class="nav-toggle"><i class="icon_menu"></i></div>
        </div>
      </div>
    </header>
  </body>
</html>
