/*basic styles*/
html,
body {
  margin: 0;
}

body {
  font: 100% Lato, Helvetica, sans-serif;
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  line-height: 1.6;
}
article,
aside,
section,
nav,
figure,
header,
footer {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: LatoLight, Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #575451;
  margin: 0;
}
h1 {
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #894e3f;
}
h3 {
  font-size: 1.8em;
  text-transform: uppercase;
}
h4 {
  font: 1.2em Lato, Helvetica, sans-serif;
  color: black;
}
p {
  margin: 0 0 1em;
}
a {
  color: #77a0b8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code {
  color: red;
}

.form-group {
  background: #f6ddce;
  margin-bottom: 1em;
  padding: 10px;
}
.form-group ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.form-group li {
  margin-bottom: 0.5em;
}
.form-group h3 {
  margin-bottom: 1em;
}

.form-group {
  flex: 1 0 300px;
  margin-right: 2em;
}

.form-fields li {
  display: flex;
  flex-wrap: wrap;
}

.form-fields label {
  flex: 1 0 90px;
  max-width: 200px;
}

.form-submit {
  flex: 0 0 100%;
}

.form-fields input[type='text'] {
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}
.form-fields input[type='text']:focus {
  color: #333;
  border: 1px solid #894e3f;
  outline: none;
  background: #f2f2f2;
}

.form-fields select {
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}

.form-fields select:focus {
  color: #333;
  border: 1px solid #C17CCF;
  outline: none;
  background: #f2f2f2;
}

.form-fields select {
  flex: 1 0 230px;
}

input[type='radio' i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

.customer-button {
  border-radius: 0px 2px 2px 0px;
  box-sizing: content-box;
  background: #b36653;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  padding: 0.2em 0.6em;
  border: none;
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
}
.customer-button:hover,
.customer-button:focus {
  background: #da836d;
}
.error {
  color: #f44336;
}

.warning {
  color: rgb(255, 153, 0);
}

.success {
  color: green;
}


hr {
  position: relative;
  border: none;
  height: 2px;
  background: #77a0b8;
  margin-bottom: 20px;
}